spring:
  application:
    name: trustR
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      minimum-idle: 2
  jpa:
    hibernate:
      ddl-auto: update